<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false">
  <test name="Test">
    <classes>
      <class name="com.dias.gitCheckin.JenkinsGITCheckin"/>
     <!--  <class name="test.java.com.dias.gitCheckin.JenkinsGITCheckin"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
